# See https://fly.io/docs/app-guides/continuous-deployment-with-github-actions/

name: Fly Deploy
on:
  push:
    branches:
      - main
jobs:
  deploy:
    name: Deploy app
    runs-on: ubuntu-latest
    concurrency: deploy-group    # optional: ensure only one action runs at a time.
    steps:
      - uses: actions/checkout@v4
      - uses: superfly/flyctl-actions/setup-flyctl@master
      - name: Check Fly CLI version
        run: flyctl version
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
          
      - name: Deploy to Fly.io
        run: |
          if [ -z "$FLY_API_TOKEN" ]; then
            echo "Error: FLY_API_TOKEN is not set"
            exit 1
          fi
          flyctl deploy --remote-only --verbose
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
